rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /gallery/{document} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /articles/{document} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /announcements/{document} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /notices/{document} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /events/{document} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /massSchedules/{document} {
      allow read: if true;
      allow write: if signedIn();
    }
  }
}
